body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
* {
	box-sizing: border-box;

 }
.container{
	max-width: 1170px;
	margin:auto;
	max-height: 200px;
}
.row{
	display: flex;
}
.footer{
	background-color:yellow;
    padding: 70px 0;
}
.footer-col{
	width: 25%;
   padding: 15px;
}
.footer-col h4{
	font-size: 18px;
	color: black;
	text-transform: capitalize;
	margin-bottom: 35px;
	position: relative;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: black;
	display: flex;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 0;
	color: black;
	background-color: aliceblue;
}
.underline:hover {
	text-decoration: underline;
}
.footer-col .social-links a:hover{
	background-color: grey;
}
.footer-col .margin{
margin-top: 85px;
}




